<h3>Member list:</h3>
<div>
  <label>Filter by position:</label>
  <select (change)="onChange($event.target.value)">
    <option value="all">All players</option>
    <option value="forward">Forwards</option>
    <option value="guard">Guards</option>
    <option value="point guard">Point guards</option>
    <option value="center">Centers</option>
    <option value="forward-center">Forward-centers</option>
    <option value="swingman">Swingmen</option>
  </select>
</div>
<div class="panel panel-info" *ngFor="let member of members | async | position:filterByPosition">
  <div class="panel-heading" (click)="memberClicked(member)">
    <h4 class="panel-title">{{member.name}}</h4>
  </div>
  <div class="panel-body">
    <div *ngIf="currentRoute === '/admin'">
      <app-edit-member [selectedMember]="member"></app-edit-member>
    </div>
  </div>
</div>
