<div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title">Edit {{memberName}}</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label><span class="title-case">{{memberName}}</span> name:</label>
      <input class="form-control" [(ngModel)]="selectedMember.name">
    </div>
    <div class="form-group">
      <label>Position:</label>
      <input class="form-control" [(ngModel)]="selectedMember.position">
    </div>
    <div class="form-group">
      <label>Number:</label>
      <input class="form-control" [(ngModel)]="selectedMember.playerNumber" type="number">
    </div>
    <div class="form-group">
      <label>Height:</label>
      <input class="form-control" [(ngModel)]="selectedMember.height" type="number">
    </div>
    <div class="form-group">
      <label>Weight:</label>
      <input class="form-control" [(ngModel)]="selectedMember.weight" type="number">
    </div>
    <div class="form-group">
      <label>College:</label>
      <input class="form-control" [(ngModel)]="selectedMember.college">
    </div>
    <button (click)="beginUpdatingMember(selectedMember)" class="btn btn-xs btn-warning">Update</button>
    <hr>
    <button (click)="beginDeletingMember(selectedMember)" class="btn btn-xs btn-danger">Delete</button>
  </div>
</div>
